.bg-navy {
	background-color: #001f3f
}

.bg-blue {
	background-color: #0074d9
}

.bg-green {
	background-color: #2ecc40
}

.bg-yellow {
	background-color: #ffdc00
}

.bg-orange {
	background-color: #ff851b
}

.bg-red {
	background-color: #ff4136
}

.bg-purple {
	background-color: #b10dc9
}

.bg-white {
	background-color: #fff
}

.bg-gray {
	background-color: #aaa
}

.bg-silver {
	background-color: #ddd
}

.bg-black {
	background-color: #111
}

.bg-ltgray {
	background-color: #fcfcfc
}

.navy {
	color: #001f3f
}

.blue {
	color: #0074d9
}

.green {
	color: #2ecc40
}

.yellow {
	color: #ffdc00
}

.orange {
	color: #ff851b
}

.red {
	color: #ff4136
}

.purple {
	color: #b10dc9
}

.white {
	color: #fff
}

.gray {
	color: #aaa
}

.silver {
	color: #ddd
}

.black {
	color: #111
}

.ltgray {
	color: #fcfcfc
}

.center {
	margin: 0 auto;
	text-align: center
}

.left {
	text-align: left
}

.right {
	text-align: right
}

.twelve {
	font-size: 12px
}

.fixed {
	position: fixed
}

.center-screen {
	position: fixed;
	top: 30%;
	left: 40%
}

.faded {
	opacity: 0.5
}

.hide {
	overflow: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out
}

.show {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out
}

.hidden {
	display: none
}

.block {
	display: block
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transition: 0.2s
}

.unblur {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: 0.2s
}

body {
	font-family: Inter, OpenSans, Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-columns: 20% 1fr 20%;
	grid-template-rows: 1fr 3fr 10%;
	gap: 4px;
	background: #fcfcfc;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fcfcfc;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 1000;
}

button {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-size: 15px;
	padding: 11px 37px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}