:root {
    --bg-color: #1d1d1d;
    --color-primary: #f0dda3;
    --color-secondary: #ff9800;
    --color-tertiary: #f44336;
    --color-quaternary: #9c27b0;
    --color-quinary: #2196f3;
    --color-senary: #009688;

    --font-primary: -apple-system, BlinkMacSystemFont, sans-serif
}