.bg-navy 	{ background-color: #001f3f }
.bg-blue 	{ background-color: #0074d9 }
.bg-green 	{ background-color: #2ecc40 }
.bg-yellow 	{ background-color: #ffdc00 }
.bg-orange 	{ background-color: #ff851b }
.bg-red 	{ background-color: #ff4136 }
.bg-purple 	{ background-color: #b10dc9 }
.bg-white 	{ background-color: #fff }
.bg-gray 	{ background-color: #aaa }
.bg-silver 	{ background-color: #ddd }
.bg-black 	{ background-color: #111 }
.bg-ltgray 	{ background-color: #fcfcfc }

.center 	{ margin: 0 auto;  text-align: center }
.left 		{ text-align: left }
.right 		{ text-align: right }

.twelve 	{ font-size: 12px }
.fixed 		{ position: fixed }
.center-screen 	{ position: fixed; top: 30%; left: 40% }

.faded 		{ opacity: 0.5 }
.hide 		{ opacity: 0; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out }
.show 		{ opacity: 1; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out }

.blur 		{ filter: blur(5px); -webkit-filter: blur(5px); transition:0.2s }
.unblur 	{ filter: blur(0px); -webkit-filter: blur(0px); transition:0.2s }
